
<h1><%= @pet.name %></h1>

  <h3><a href="/pets/<%= @pet.id %>"><%= @pet.image %></a></h3>
  <h3><a href="/pets/<%= @pet.id %>"><%= @pet.name %></a></h3>
  <h3><a href="/pets/<%= @pet.id %>"><%= @pet.description %></a></h3>
  <h3><a href="/pets/<%= @pet.id %>"><%= @pet.age %></a></h3>
  <h3><a href="/pets/<%= @pet.id %>"><%= @pet.sex %></a></h3>
  <h3><a href="/pets/<%= @pet.id %>"><%= @pet.adoption_status %></a></h3>
