<h1>Pets</h1>

<% @pets.find_all do |pet| pet.shelter_id=="#{shelter.id}"%>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.image %></a></h3>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.age %></a></h3>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.sex %></a></h3>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.shelter_id %></a></h3>
<% end %>

<%=link_to 'New Pet', '/pets/new' %>
